:root {
    --pictureUrl: '';
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(Fonts/OpenSans-Bold.ttf);
    src: url(Fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(Fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: Krungthep;
    src: url(Fonts/Krungthep.ttf);
}

body {
    background: #1C7430;
    overflow: hidden;
}

#header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px auto;
    width: 843px;
    height: 10vh;
    color: white;
    font-family: OpenSans-Bold;
    font-size: 14px;
    letter-spacing: 0;
    opacity: 0.8;
}

#header > a {
    grid-column: 1;
    justify-self: start;
    align-self: end;
    font-family: OpenSans-Semibold;
    letter-spacing: -0.25px;
}

#score {
    grid-column: 6;
    justify-self: end;
    align-self: end;
}

#score1{
    font-family: Krungthep;
}


.footer {
    width: 100vw;
    height: 15vh;
}

.start {
    height: 70vh;
    min-height: 262px;
    min-width: 503px;
    background: url("pics/Assets/StartGame.png") no-repeat center;
    font-family: OpenSans-Bold;
    font-size: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.start > button {
    width: 144px;
    height: 42px;
    color: #1b4110;
    opacity: 0.85;
    border-radius: 4px;
    horiz-align: center;
    background: #FFFFFF;
    font-family: OpenSans-Bold;
    font-size: 16px;
    grid-column: 3;
    grid-row: 8;
    justify-self: center;
}

.start > div {
    grid-column: 2/5;
    grid-row: 7;
    justify-self: center;
    font-family: 'OpenSans-Bold';
}

#end-msg {
    font-size: 24px;
    opacity: 0.85;
    letter-spacing: 0.15px;
    line-height: 35px;
    text-align: center;
    grid-column: 2/6;
    grid-row: 7;
}
.end {
    font-family: OpenSans-Bold;
    background: url("pics/Assets/Group 2.png") no-repeat center;
}

#butt {
    color: #1C7430;
    letter-spacing: 0;
    grid-column: 3/5;
    grid-row: 8;
    justify-self: center;
}

.game {
    margin: 20px auto;
    width: 843px;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    display: grid;
}

.card {
    width: 129px;
    height: 180px;
    border-radius: 7px;
    margin-bottom: 15px;
    background: var(--pictureUrl) no-repeat;
    background-size: contain;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out;
    transition: background 0.45s ease-in-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px lightgrey;
    opacity: 1;
}

.hidden {
    visibility: hidden;
}